.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  background-image: url("../assets/ayurvedic_image.jpg");
  background-size: cover; /* Ensure the background image covers the entire area */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent the background from repeating */
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 2px;
  background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
  border-radius: 10px; /* Add rounded corners */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Enhance the shadow for better visibility */
}
